body {
    font-family: Tahoma;
    margin: 0;
    background: black;
}

section {
    height: 100vh;
    display: grid;
    position: relative;
}
section::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(images/blendershowcase.png);
    background-size: cover;
    background-position: center;
    opacity: 0.15;
}

.introduction {
    padding: 15px;
    text-align: center;
    color: rgb(255, 227, 166);
    font-size: 25px;
    line-height: 15px;
    isolation: isolate;
}