body {
    font-family: Segoe UI;
    margin: 0;
    background: rgb(41, 41, 41);
}

section {
    height: fit-content;
    display: grid;
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(images/blendershowcase.png);
    background-size: cover;
    background-position: center;
    opacity: 0.15;
}

/* Introduction */

.introduction {
    padding: 15px;
    text-align: center;
    text-shadow: 0px 3px 0px #0000007e;
    line-height: 0px;
    isolation: isolate;
}

.introductionTitle {
    font-size: 50px;
    color: rgb(255, 227, 166)
}

.introductionDescription {
    font-size: 20px;
    color: white;
}

.apps {
    margin: 30px;
    margin-left: 500px;
    margin-right: 500px;

    box-sizing: border-box;
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 16px;
}

.apps > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Me */

.aboutme {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 3px 0px #0000007e;
    line-height: 5px;
    isolation: isolate;
    color: rgb(255, 227, 166);
}

.aboutme > button {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 3px 0px #0000007e;
    line-height: 15px;
    isolation: isolate;

    display: grid;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #0000009a;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.384);
}

/* */

.end {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px 3px 0px #0000007e;
    line-height: 25px;
    isolation: isolate;
    color: rgb(255, 227, 166);
}
