body {
    font-family: Tahoma;
    margin: 0;
    background: black;
}

section {
    height: 100vh;
    display: grid;
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(images/blendershowcase.png);
    background-size: cover;
    background-position: center;
    opacity: 0.15;
}

.introduction {
    padding: 15px;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 5px 0px #0000007e;
    line-height: 20px;
    isolation: isolate;
    color: rgb(255, 227, 166);
}

.aboutme {
    padding: 15px;
    font-size: 20px;
    text-align: left;
    text-shadow: 0px 5px 0px #0000007e;
    line-height: 25px;
    isolation: isolate;
    color: rgb(255, 255, 255);
}

.question {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 5px 0px #0000007e;
    line-height: 25px;
    isolation: isolate;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #0000009a;

    color: rgb(255, 227, 166);
    background-color: rgba(0, 0, 0, 0.384);
}